.template-display {
  width: 65%;
  margin: 0rem auto 0rem auto;
  overflow: auto;
  height: 83vh;
}

.paper {
  background-color: white;
  margin: 0;
  height: 279mm;
  width: 216mm;
  border: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  overflow: hidden;
}

.template-button {
  background-color: #fecf6a;
  border: 1px solid black;
  margin: 0 1rem 0 1rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
}

.template-button:hover {
  background-color: #fecf6a;
  border: 1px solid black;
  margin: 0 1rem 0 1rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  transform: scale(1.005);
}

.export-icon {
  margin: 2rem;
  transform: scale(2);
  opacity: 0.6;
  cursor: pointer;
}
