.template-display {
  width: 65%;
  margin: 0rem auto 0rem auto;
  overflow: auto;
  height: 83vh;
}

.paper {
  background-color: white;
  margin: 1rem;
  width: 8.5in;
  height: 11in;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
