.template-display {
  width: 65%;
  margin: 0rem auto 0rem auto;
  overflow: auto;
  height: 83vh;
}

.paper {
  background-color: white;
  margin: 1rem;
  width: 8.5in;
  height: 11in;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.template-button {
  background-color: #fecf6a;
  border: 1px solid black;
  margin: 0 1rem 0 1rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
}

.template-button:hover {
  background-color: #fecf6a;
  border: 1px solid black;
  margin: 0 1rem 0 1rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  transform: scale(1.005);
}
